<!-- <img src="/images/opengl-logo.png" alt="opengl logo" /> -->

<script src="/scripts/sylvester.js" type="text/javascript"></script>
<script src="/scripts/glUtils.js" type="text/javascript"></script>
<script src="/scripts/webgl-demo.js" type="text/javascript"></script>

<script id="shader-fs" type="x-shader/x-fragment">
      varying highp vec2 vTextureCoord;

      uniform sampler2D uSampler;

      void main(void) {
        gl_FragColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
      }
</script>

    <!-- Vertex shader program -->

<script id="shader-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;
  attribute vec2 aTextureCoord;

  uniform mat4 uMVMatrix;
  uniform mat4 uPMatrix;

  varying highp vec2 vTextureCoord;

  void main(void) {
    gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
    vTextureCoord = aTextureCoord;
  }
</script>

<canvas width = "200" height = "200" id = "glcanvas"></canvas>

<script>
    start('{{ .Site.BaseURL }}' + 'images/');
</script>